/* =============
    History
============= */
#history{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". history .";

    @include lg{
        grid-template-columns: auto 60% auto;
    }

    @include xl{
        grid-template-columns: auto 800px auto;
    }
    >div{
        grid-area: history;
    }
}