/* =============
    Skills
============= */
#skills{

    @include xl{
        display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". skills-container .";
    }

    
    >div{

        @include lg{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include xl{
            grid-area: skills-container;
        }
    
        aside {
            background-image: url('../img/skills/robot.jpg');
            background-position: center;
            background-size: cover;
            height: 380px;

            @include md {
                height: 476px;
            }

            @include lg {
                height: auto;
            }
        }
    
        #skills-content{
            background-color: $charcoal;
            color: $white;
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". skills .";
    
            
            >div{
                grid-area: skills;
            }
        }
    }

    
}