/* =============
    Header
============= */
header {
	display: grid;

	@include xl {
		grid-template-areas: ". header .";
		grid-template-columns: auto 1200px auto;
	}

	>div {
		@include xl {
			grid-area: header;
		}
		
		display:  grid;
		grid-template-columns: 20% auto;

		@include md{
			grid-template-columns: 60% auto;
		}

		section {
			padding: 15px;

			@include md{
				display: none;
			}

			img {
				width: 96px;

				@include md {
					width: 123px;
				}

				@include lg {
					width: 150px;
				}
			}
		}

		nav{



		}

		aside{
			button{
				background-color: $yellow;
			}
		}
	}
}